<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <div class="banner-grower mx-lg-5">
            <p class="py-lg-5 my-0">
                Nos recettes sont réalisées à partir de
                <span class="concept">produits Bio</span>
                issus de <span class="concept">producteurs locaux</span>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>