<!-- NavBar -->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img class="logo" src="/assets/images/logo_OhTerroir.png" alt="Oh Terroir">
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link {{ home }}">Accueil</a></li>

                    <li class="nav-item"><a href="/dishes" class="nav-link {{ dishPage }}">Plats & Desserts</a></li>

                    <li class="nav-item"><a href="/grower" class="nav-link {{ growerPage }}">Partenaires</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>