{% extends 'layout.html.twig' %}


{% block content %}

    <h2>Mentions légales</h2>

    <p>
        Propiété
        Le présent site est la propriété de Pizza Line Express,
        49, rue Jean Jaurès -  45200 Montargis

        Dénomination sociale
        Pizza Line Express
        Siège social : 49, rue Jean Jaurès - 45200 Montargis
        SIRET :  401 226 469 00039
        forme juridique : Société à responsabilité limitée

        Hébergement
        1&1 Internet AG
        Brauerstr. 48 -  76135 Karisruhe
        Allemagne
        www.1&1.fr
        Crédits
        Réalisation du site : Christophe Raoul

        Droits d'auteur et conditions d’utilisation
        La reproduction de contenus éditoriaux, de photos et d'images dans un but commercial ou publicitaire n'est pas autorisée.

        Photos, images fixes et animées
        Les photos, images fixes et animées, ne peuvent être reproduites sans autorisation préalable sollicitée auprès de "Pizza Line Express".

        Liens hypertextes
        Les liens pointant vers la page d'accueil ou l'une des pages du site ohterroir-orleans.fr peuvent être établis sans autorisation préalable. Dans ce cas la mention explicite du lien "Restaurant Oh Terroir - Fast Good - à Orléans" sera faite pour informer l'internaute de la teneur du lien.
        Cookies
        Le site que vous visitez utilise des traceurs (cookies). Ainsi, le site est susceptible d'accéder à des informations déjà stockées dans votre équipement terminal de communications électroniques et d'y inscrire des informations. Le site utilise exclusivement des traceurs dits "strictement nécessaires", qui ne nécessitent pas votre consentement préalable. Nous utilisons ces traceurs pour permettre et faciliter la navigation sur le site notamment en mémorisant vos préférences de navigation définis au cours de votre session / réaliser des statistiques anonymes de visites.
        Ces traceurs ne peuvent pas, techniquement, être désactivés depuis le site. Vous pouvez néanmoins vous opposer à l'utilisation de ces traceurs, exclusivement en paramétrant votre navigateur. Ce paramétrage dépend du navigateur que vous utilisez, mais il est en général simple à réaliser : en principe, vous pouvez soit activer une fonction de navigation privée soit uniquement interdire ou restreindre les traceurs (cookies). Attention, il se peut que des traceurs aient été enregistrés sur votre périphérique avant le paramétrage de votre navigateur : dans ce cas, effacez votre historique de navigation, toujours en utilisant le paramétrage de votre navigateur.

        L'utilisation des traceurs est régie par l'article 32 II de la loi n° 78-17 du 6 janvier 1978, transposant l'article 5.3 de la directive 2002/58/CE du parlement européen et du conseil du 12 juillet 2002 modifiée par la directive 2009/136/CE.
        Pour en savoir plus sur les cookies et traceurs, nous vous invitons à consulter le site de la CNIL : www.cnil.fr
    </p>

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}