{% block slide %}
    <!-- carousel Section-->
       <div id="carouselExampleFade" class="carousel slide carousel-fade slideShow" data-ride="carousel">
           <div class="carousel-inner">
               <div class="carousel-item active">
                   <img class="d-block w-100 carousel_images" src="assets/images/interieur.jpg" alt="photo de l'interieur du restaurant">
               </div>
               <div class="carousel-item">
                   <img class="d-block w-100 carousel_images" src="assets/images/devanture.jpg" alt="photo de la devanture du restaurant">
               </div>
               <div class="carousel-item">
                   <img class="d-block w-100 carousel_images" src="assets/images/terrasse.jpg" alt="photo de la terrasse du restaurant">
               </div>
               <div class="carousel-item">
                   <img class="d-block w-100 carousel_images" src="assets/images/tables.jpg" alt="photo des tables du restaurant">
               </div>
           </div>
       </div>
    <!-- End carousel Section-->
{% endblock %}

